<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ait.hrm.empinfo.mapper.HrFamilyMapper">

    <resultMap id="HrFamilyResultMap" type="com.ait.hrm.empinfo.model.HrFamily">
        <id property="familyNo" column="FAMILY_NO"/>
        <result property="personId" column="PERSON_ID"/>
        <result property="famTypeCode" column="FAM_TYPE_CODE"/>
        <result property="famName" column="FAM_NAME"/>
        <result property="famBorndate" column="FAM_BORNDATE"/>
        <result property="famIdcard" column="FAM_IDCARD"/>
        <result property="famPhone" column="FAM_PHONE"/>
        <result property="famCompanyName" column="FAM_COMPANY_NAME"/>
        <result property="liveYn" column="LIVE_YN"/>
        <result property="emergencyContactYn" column="EMERGENCY_CONTACT_YN"/>
        <result property="famPersonId" column="FAM_PERSON_ID"/>
        <result property="famAddress" column="FAM_ADDRESS"/>
        <result property="taxYn" column="TAX_YN"/>
        <result property="gender" column="GENDER"/>
        <result property="famEmail" column="FAM_EMAIL"/>
        <result property="ocupation" column="OCUPATION"/>
        <result property="remarks" column="REMARKS"/>
        <result property="activity" column="ACTIVITY"/>
        
        <result property="createDate" column="CREATE_DATE"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdIp" column="CREATED_IP"/>
        <result property="updateDate" column="UPDATE_DATE"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedIp" column="UPDATED_IP"/>
        
        <!-- Joined fields -->
        <result property="empId" column="EMPID"/>
        <result property="localName" column="LOCAL_NAME"/>
        <result property="deptName" column="ORG_NAME_LOCAL"/>
    </resultMap>

    <select id="searchFamily" resultMap="HrFamilyResultMap">
        SELECT 
            t1.*,
            t2.EMPID,
            t2.LOCAL_NAME,
            t3.ORG_NAME_LOCAL
        FROM HR_FAMILY t1
        LEFT JOIN HR_EMPLOYEE t2 ON t1.PERSON_ID = t2.PERSON_ID
        LEFT JOIN HR_DEPARTMENT t3 ON t2.DEPTNO = t3.DEPTNO
        WHERE 1=1 AND (t1.ACTIVITY = 1 OR t1.ACTIVITY IS NULL)
        <if test="empId != null and empId != ''">
            AND t2.EMPID LIKE '%' || #{empId} || '%'
        </if>
        
        <if test="localName != null and localName != ''">
            AND t2.LOCAL_NAME LIKE '%' || #{localName} || '%'
        </if>
        <if test="famName != null and famName != ''">
            AND t1.FAM_NAME LIKE '%' || #{famName} || '%'
        </if>
        ORDER BY t1.FAMILY_NO DESC
    </select>

    <select id="getById" resultMap="HrFamilyResultMap">
        SELECT 
            t1.*,
            t2.EMPID,
            t2.LOCAL_NAME,
            t3.ORG_NAME_LOCAL
        FROM HR_FAMILY t1
        LEFT JOIN HR_EMPLOYEE t2 ON t1.PERSON_ID = t2.PERSON_ID
        LEFT JOIN HR_DEPARTMENT t3 ON t2.DEPTNO = t3.DEPTNO
        WHERE t1.FAMILY_NO = #{familyNo} AND (t1.ACTIVITY = 1 OR t1.ACTIVITY IS NULL)
    </select>

    <insert id="insert" parameterType="com.ait.hrm.empinfo.model.HrFamily">
        INSERT INTO HR_FAMILY (
            FAMILY_NO, PERSON_ID, FAM_TYPE_CODE, FAM_NAME, FAM_BORNDATE,
            FAM_IDCARD, FAM_PHONE, FAM_COMPANY_NAME, LIVE_YN, EMERGENCY_CONTACT_YN,
            FAM_PERSON_ID, FAM_ADDRESS, TAX_YN, GENDER, FAM_EMAIL, OCUPATION, REMARKS,
            ACTIVITY,
            CREATE_DATE, CREATED_BY, CREATED_IP, UPDATE_DATE, UPDATED_BY, UPDATED_IP
        ) VALUES (
            HR_FAMILY_SEQ.NEXTVAL, #{personId}, #{famTypeCode}, #{famName}, #{famBorndate},
            #{famIdcard}, #{famPhone}, #{famCompanyName}, #{liveYn}, #{emergencyContactYn},
            #{famPersonId}, #{famAddress}, #{taxYn}, #{gender}, #{famEmail}, #{ocupation}, #{remarks},
            1,
            SYSDATE, #{adminID}, #{adminIP}, SYSDATE, #{adminID}, #{adminIP}
        )
    </insert>

    <update id="update" parameterType="com.ait.hrm.empinfo.model.HrFamily">
        UPDATE HR_FAMILY
        SET 
            PERSON_ID = #{personId},
            FAM_TYPE_CODE = #{famTypeCode},
            FAM_NAME = #{famName},
            FAM_BORNDATE = #{famBorndate},
            FAM_IDCARD = #{famIdcard},
            FAM_PHONE = #{famPhone},
            FAM_COMPANY_NAME = #{famCompanyName},
            LIVE_YN = #{liveYn},
            EMERGENCY_CONTACT_YN = #{emergencyContactYn},
            FAM_PERSON_ID = #{famPersonId},
            FAM_ADDRESS = #{famAddress},
            TAX_YN = #{taxYn},
            GENDER = #{gender},
            FAM_EMAIL = #{famEmail},
            OCUPATION = #{ocupation},
            REMARKS = #{remarks},
            UPDATE_DATE = SYSDATE,
            UPDATED_BY = #{adminID},
            UPDATED_IP = #{adminIP}
        WHERE FAMILY_NO = #{familyNo}
    </update>

    <delete id="delete">
        UPDATE HR_FAMILY 
        SET ACTIVITY = 0,
            UPDATE_DATE = SYSDATE, 
            UPDATED_BY = #{adminID}, 
            UPDATED_IP = #{adminIP} 
        WHERE FAMILY_NO = #{familyNo}
    </delete>

</mapper>
