<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ait.hrm.empinfo.mapper.HrPunishmentMapper">

    <resultMap id="HrPunishmentResultMap" type="com.ait.hrm.empinfo.model.HrPunishment">
        <id property="punishNo" column="PUNISH_NO"/>
        <result property="personId" column="PERSON_ID"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdIp" column="CREATED_IP"/>
        <result property="updateDate" column="UPDATE_DATE"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedIp" column="UPDATED_IP"/>
        <result property="punishDate" column="PUNISH_DATE"/>
        <result property="punishCode" column="PUNISH_CODE"/>
        <result property="punishReason" column="PUNISH_REASON"/>
        <result property="releaseDate" column="RELEASE_DATE"/>
        <result property="punishDepartment" column="PUNISH_DEPARTMENT"/>
        <result property="punishScore" column="PUNISH_SCORE"/>
        <result property="paycutStartDate" column="PAYCUT_START_DATE"/>
        <result property="paycutEndDate" column="PAYCUT_END_DATE"/>
        <result property="activity" column="ACTIVITY"/>
        <result property="personnelCardInquiry" column="PERSONNEL_CARD_INQUIRY"/>
        <result property="faultTypeCode" column="FAULT_TYPE_CODE"/>
        <result property="remarks" column="REMARKS"/>
        
        <!-- Joined fields -->
        <result property="empId" column="EMPID"/>
        <result property="localName" column="LOCAL_NAME"/>
        <result property="deptName" column="DEPT_NAME"/>
    </resultMap>

    <select id="searchPunishment" resultMap="HrPunishmentResultMap">
        SELECT 
            t1.*,
            t2.EMPID,
            t2.LOCAL_NAME,
            t3.ORG_NAME_LOCAL AS DEPT_NAME
        FROM HR_PUNISHMENT t1
        LEFT JOIN HR_EMPLOYEE t2 ON t1.PERSON_ID = t2.PERSON_ID
        LEFT JOIN HR_DEPARTMENT t3 ON t2.DEPTNO = t3.DEPTNO
        WHERE 1=1 AND (t1.ACTIVITY = 1 OR t1.ACTIVITY IS NULL)
        <if test="empId != null and empId != ''">
            AND t2.EMPID LIKE '%' || #{empId} || '%'
        </if>
        <if test="localName != null and localName != ''">
            AND CONVERTTOUNSIGN(UPPER(t2.LOCAL_NAME)) LIKE '%' || CONVERTTOUNSIGN(UPPER(#{localName})) || '%'
        </if>
        <if test="punishCode != null and punishCode != ''">
            AND t1.PUNISH_CODE LIKE '%' || #{punishCode} || '%'
        </if>
        ORDER BY t1.PUNISH_DATE DESC
    </select>

    <select id="getByPersonId" resultMap="HrPunishmentResultMap">
        SELECT
            t1.*,
            t2.EMPID,
            t2.LOCAL_NAME,
            t3.ORG_NAME_LOCAL AS DEPT_NAME
        FROM HR_PUNISHMENT t1
        LEFT JOIN HR_EMPLOYEE t2 ON t1.PERSON_ID = t2.PERSON_ID
        LEFT JOIN HR_DEPARTMENT t3 ON t2.DEPTNO = t3.DEPTNO
        WHERE t1.PERSON_ID = #{personId, jdbcType=VARCHAR}
          AND (t1.ACTIVITY = 1 OR t1.ACTIVITY IS NULL)
        ORDER BY t1.PUNISH_DATE DESC
    </select>

    <select id="getById" resultMap="HrPunishmentResultMap">
        SELECT 
            t1.*,
            t2.EMPID,
            t2.LOCAL_NAME,
            t3.ORG_NAME_LOCAL AS DEPT_NAME
        FROM HR_PUNISHMENT t1
        LEFT JOIN HR_EMPLOYEE t2 ON t1.PERSON_ID = t2.PERSON_ID
        LEFT JOIN HR_DEPARTMENT t3 ON t2.DEPTNO = t3.DEPTNO
        WHERE t1.PUNISH_NO = #{punishNo}
    </select>

    <insert id="insert" parameterType="com.ait.hrm.empinfo.model.HrPunishment">
        INSERT INTO HR_PUNISHMENT (
            PUNISH_NO, PERSON_ID, PUNISH_DATE, PUNISH_CODE, PUNISH_REASON,
            RELEASE_DATE, PUNISH_DEPARTMENT, PUNISH_SCORE, PAYCUT_START_DATE,
            PAYCUT_END_DATE, PERSONNEL_CARD_INQUIRY, FAULT_TYPE_CODE, REMARKS,
            ACTIVITY,
            CREATE_DATE, CREATED_BY, CREATED_IP, UPDATE_DATE, UPDATED_BY, UPDATED_IP
        ) VALUES (
            HR_PUNISHMENT_SEQ.NEXTVAL, #{personId}, #{punishDate}, #{punishCode}, #{punishReason},
            #{releaseDate}, #{punishDepartment}, #{punishScore}, #{paycutStartDate},
            #{paycutEndDate}, #{personnelCardInquiry}, #{faultTypeCode}, #{remarks},
            1,
            SYSDATE, #{adminID, jdbcType=VARCHAR}, #{adminIP, jdbcType=VARCHAR}, SYSDATE, #{adminID, jdbcType=VARCHAR}, #{adminIP, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.ait.hrm.empinfo.model.HrPunishment">
        UPDATE HR_PUNISHMENT
        SET 
            PERSON_ID = #{personId},
            PUNISH_DATE = #{punishDate},
            PUNISH_CODE = #{punishCode},
            PUNISH_REASON = #{punishReason},
            RELEASE_DATE = #{releaseDate},
            PUNISH_DEPARTMENT = #{punishDepartment},
            PUNISH_SCORE = #{punishScore},
            PAYCUT_START_DATE = #{paycutStartDate},
            PAYCUT_END_DATE = #{paycutEndDate},
            PERSONNEL_CARD_INQUIRY = #{personnelCardInquiry},
            FAULT_TYPE_CODE = #{faultTypeCode},
            REMARKS = #{remarks},
            UPDATE_DATE = SYSDATE,
            UPDATED_BY = #{adminID, jdbcType=VARCHAR},
            UPDATED_IP = #{adminIP, jdbcType=VARCHAR}
        WHERE PUNISH_NO = #{punishNo}
    </update>

    <delete id="delete">
        UPDATE HR_PUNISHMENT 
        SET ACTIVITY = 0,
            UPDATE_DATE = SYSDATE, 
            UPDATED_BY = #{adminID, jdbcType=VARCHAR}, 
            UPDATED_IP = #{adminIP, jdbcType=VARCHAR} 
        WHERE PUNISH_NO = #{punishNo}
    </delete>

</mapper>
